        /*Обнуление*/
        
        * {
            padding: 0;
            margin: 0;
            border: 0;
        }
        
        *,
        *:before,
        *:after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
         :focus,
         :active {
            outline: none;
        }
        
        a:focus,
        a:active {
            outline: none;
        }
        
        nav,
        footer,
        header,
        aside {
            display: block;
        }
        
        html,
        body {
            height: 100%;
            width: 100%;
            font-size: 100%;
            line-height: 1;
            font-size: 14px;
            -ms-text-size-adjust: 100%;
            -moz-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }
        
        input,
        button,
        textarea {
            font-family: inherit;
        }
        
        input::-ms-clear {
            display: none;
        }
        
        button {
            cursor: pointer;
        }
        
        button::-moz-focus-inner {
            padding: 0;
            border: 0;
        }
        
        a,
        a:visited {
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: none;
        }
        
        ul li {
            list-style: none;
        }
        
        img {
            vertical-align: top;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: inherit;
            font-weight: 400;
        }
        /* Обнуление */
        
        body {
            background-image: url(../img/bg.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
        }
        
        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        
        .container {
            flex: 1 1 auto;
            max-width: 90%;
            margin: 0 auto;
        }
        
        * {
            color: white;
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Chrome/Safari/Opera */
            -khtml-user-select: none;
            /* Konqueror */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
        }
        
        // Main
        .main {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            padding: 20px 20px 0 20px;
        }
        
        // Main
        // Nav
        .nav {
            max-width: 500px;
            display: flex;
            flex-direction: column;
            h1 {
                display: inline-block;
                font-weight: bold;
                font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1200 - 320)));
                margin-top: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
                line-height: 30px;
                padding-bottom: 10px;
                min-width: 290px;
            }
            p {
                display: inline-block;
                font-size: 20px;
                height: 30px;
                align-items: center;
                margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1200 - 320)));
            }
        }
        
        .nav__button {
            color: white;
            font-size: 20px;
            height: 50px;
            width: 200px;
            background-color: black;
            margin-top: 10px;
            align-items: center;
            text-align: center;
            padding-top: 12px;
            transition: all 1s;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
        }
        
        .nav__button:hover {
            width: 250px;
        }
        
        .nav__burger {
            width: 50px;
            height: 50px;
            display: none;
        }
        
        .nav__burger img {
            height: 100%;
            width: 100%;
        }
        
        // Nav
        // Content
        .content {
            margin-left: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
            padding-right: 20px;
        }
        
        .content__block {
            background-color: #000;
            min-width: 900px;
            display: none;
            margin-top: calc(20px + (55 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
        
        // Content
        // Footer
        .footer {
            background-color: #000;
            text-align: center;
        }
        
        // Footer
        .active {
            display: block;
        }
        
        @media (max-width: 1300px) {
            .content__block {
                min-width: 600px;
            }
        }
        
        @media (max-width: 1050px) {
            .nav {
                max-width: 100%;
            }
            .main {
                flex-direction: column;
            }
            .nav__buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            .nav__button {
                width: 150px;
                margin-top: 0;
            }
            .nav__button:hover {
                width: 175px;
            }
        }
        
        @media (max-width: 900px) {
            .nav__button {
                width: 120px;
            }
            .nav__button:hover {
                width: 140px;
            }
        }
        
        @media (max-width: 780px) {
            .nav__burger {
                display: inline-block;
            }
            .nav__buttons {
                flex-direction: column;
                padding-left: 60px;
                display: none;
            }
            .nav__button {
                margin-top: 5px;
            }
            ;
            #b1 {
                margin-top: -50px;
            }
            .nav__button {
                width: 200px;
            }
            .nav__button:hover {
                width: 250px;
            }
            .content__block {
                min-width: 500px;
            }
            .main {
                padding: 20px 0 0 0;
            }
        }
        
        @media (max-width: 580px) {
            p {
                background: none;
            }
            .nav__burger {
                margin-top: 10px;
            }
            .content__block {
                min-width: 400px;
            }
        }
        
        @media (max-width: 480px) {
            .content__block {
                min-width: 400px;
                margin-left: -30px;
            }
            .nav__button {
                width: 150px;
            }
            .nav__button:hover {
                width: 175px;
            }
        }
        
        @media (max-width: 430px) {
            .content__block {
                min-width: 300px;
            }
        }
        
        .active_inline {
            display: block;
        }